In [1]:
import tensorflow as tf

In [2]:
(x_train, y_train), (x_test,y_test) = tf.keras.datasets.reuters.load_data(num_words=10000)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/reuters.npz
2113536/2110848 [==============================] - 0s 0us/step

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/reuters.py:143: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_train, y_train = np.array(xs[:idx]), np.array(labels[:idx])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/reuters.py:144: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_test, y_test = np.array(xs[idx:]), np.array(labels[idx:])

((8982,), (8982,), (2246,), (2246,))

In [3]:
print(x_train[3])

[1, 4, 686, 867, 558, 4, 37, 38, 309, 2276, 465, 893, 3541, 114, 2902, 69, 312, 35, 15, 7, 335, 1679, 21, 25, 3675, 2, 3498, 58, 69, 68, 493, 5, 25, 465, 377, 2430, 4, 293, 1172, 739, 4379, 8, 7, 1510, 1131, 13, 899, 6, 4, 990, 309, 415, 4519, 6920, 645, 3916, 791, 5, 4379, 75, 8, 24, 10, 1311, 4677, 5, 344, 756, 7, 2, 231, 9691, 2603, 1413, 43, 509, 43, 68, 327, 5, 2, 3498, 297, 638, 73, 430, 22, 4, 580, 7, 48, 41, 30, 2, 136, 4, 344, 298, 4, 580, 40, 344, 5078, 2, 291, 1488, 10, 3148, 5, 231, 6250, 1308, 5, 8250, 7043, 21, 2, 1622, 990, 309, 415, 265, 5992, 8945, 1149, 9118, 2, 4, 344, 9691, 756, 3729, 2, 4667, 2, 3249, 28, 10, 2190, 24, 77, 41, 682, 10, 4851, 2048, 7, 4, 5540, 2926, 1598, 22, 370, 5954, 7541, 5, 54, 5232, 1685, 2916, 10, 1571, 946, 60, 51, 3249, 5249, 4, 73, 2135, 669, 4, 580, 64, 10, 4280, 6, 2, 25, 482, 35, 150, 377, 2430, 7, 10, 2, 836, 2, 4730, 6920, 5, 4379, 2, 2, 3541, 8, 4, 344, 291, 2, 298, 4228, 6, 2223, 24, 2, 41, 343, 430, 210, 6, 3498, 297, 64, 10, 2281, 455, 5, 7003, 125, 222, 17, 12]

In [4]:
import numpy as np
np.unique(y_train)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [ ]:
word_dic = tf.keras.datasets.reuters.get_word_index()
print(word_dic)

---
---

In [ ]:
invert_word_index = dict()
for (key,value) in word_dic.items():
  invert_word_index[value] = key
print(invert_word_index)

In [7]:
def f_decode_string(x_data):
  decode_str = str()
  for num in x_data:
    #print(i, invert_word_index[num])
    decode_str = decode_str + invert_word_index[num] + ' '

  return decode_str

In [8]:
f_decode_string(x_train[30])

'the in has would seven time mln asked has would owns domestic may said profits on been said national and slash 1988 on been said friday textile and warrants 3 before on been said bpd and 157 in national it slash trading carryforward on been said particularly hostile call 3 industrial on been said fears hostile call 3 cts it believe 28 in after london continued 2 in friday textile may and warrants trading vessels on been it believe 28 in but 18 spending 3 existing on been 28 in after london spending in time mln in before on been said bpd may and 157 or it believe 28 in but 18 spending 1 mln in continued 2 it national instruments prior from bpd development from 3 friday textile members from pct dlrs '

# 데이터 전처리

In [9]:
len(x_train[0]), len(x_train[50]), len(x_train[500]), len(x_train[1000]), len(x_train[3])

(87, 118, 170, 626, 224)

In [10]:
pad_x_train = tf.keras.preprocessing.sequence.pad_sequences(x_train, maxlen=500)
len(pad_x_train[1000]), pad_x_train[1000]

(500, array([   7,    2,    8,  790,  680, 1935,  756,   52,   29,  137,    2,
         530,   30,  524,   27,    4,  637,  192, 2392,  188,  181,  495,
        6108,    9,    4,  248,  495, 5143,  739,  332,   57,   85, 2847,
          27,    4, 1544,   24, 2349,  756,   41, 1521,   10, 2666,    5,
        2392,  291, 1032,   50,   40,   85,    7,  642,  224,    2, 1237,
        2563,    2,    4,  291, 1032,    6, 4208,  724, 2277,    7,  809,
           6, 1586,    4,  295, 3255,  969, 1152,    5, 2830,   16,  495,
         199,    8,  224,    4, 1077,    5, 1049,    4,  495, 1032,   40,
         923, 2435,  893,    6,  196, 1147, 3852,  732,  962,  282,   21,
          10, 1312,  503,   51,  893, 6250,  391,   45, 1940,    6,  507,
           2, 2701,  269,   43, 1091,    9, 1474,  227,  801,  227,    9,
         128, 3576,  577,  910, 1610,  227,  986,  128,  101,  516,    7,
         127,  689,    9, 1458,    2, 4625,    5,  128,  101,    2,    4,
         199,    8,    4,  673,  347,    5,    4,   37,   38,   37,  412,
         795, 3395,    7,    2,  164, 1528, 4625,    5, 1199, 1475,    9,
          13, 8100,    7, 5537, 1062, 2669,   21,  227, 3576,   97,  128,
        3576,   51,  657,  107,  437,  495, 1237, 1541,   31,  126,    5,
           4,    2,    5, 3576,   77,    2,   21,  700,    6, 1310,  567,
        1805, 7734,   13,    4, 1199,   37,   38,  496,  795,  439,   10,
        5947, 1040,    5,    2,   13, 6812,    4, 5109,    5,  464, 1085,
           7, 3576, 1760, 5979, 1199,   23, 9900,   27,    4,  231,    2,
        1500,  185,    2,  631,    2,   52,   23,    4,  345,  528,   76,
           6,   76,  347,   51,  437, 1237,   55,  328,    6,  888,   52,
         389,  762, 2828,    9,    6,  623,  125, 4573, 1308,   21,   10,
        2803,    5,  893, 5968, 4029,  519,    6,    4,    2,    5,    4,
        3498, 1085,    4,  199,    8,    4,    2,   75,  328,  107,  893,
        6250,   55, 1158,    6,  439, 2435,  221, 8996,   55, 2473,   13,
         396, 1237,  119,   20,   13,  260,  171,  132,   20,   13,  127,
         171,    9,  251,   20,   13,  100,  127,    9,  358,   60, 3498,
          10,  226,    2,   23,   24,    4,   95, 3312,    2,    5,  732,
        1261,    7,    4,   37,   38,    9,    4,   37,  412,   91,  592,
         437,  171,   28,   10, 1136, 8497,    4,  199,    8, 9935,    2,
         483,   75, 1536,    4,  489,    5,   10, 4991,    5,    4,   37,
          38,   37,  412,  795,  114,  550, 1740,    4, 1354,    5,    4,
          37,   38,    9,  496, 1237,    4,  199,    8,   68, 5886,   13,
        7126,   60, 1034,    8,   10,  295, 3942,  127,  108, 1474,  587,
         114,   13, 8100,   30, 1410,  136,    4,  314, 1935,   43,   10,
        2384,  227, 2635,  618,    4, 1544,   24,    4, 1199,   91,   30,
        3664, 1528,  700,   73, 2135,   33, 1575,  127,  171,  483,   34,
        3007,  509,   57, 2197,    6,  382,  323, 1969,    9, 2265,   13,
          10,  382,  495, 5834,  117,    4,   54,   78,  206,    7,  809,
           6,  616, 4567,  682, 6679,   51,   43,  125,  732,  244,   23,
        2482,  808, 2491,  893, 6250,   33, 3675,    2,  127, 2435, 3959,
           5, 1937, 1171,    7,    4,  815,  218,    5,  227, 3576,  107,
          77,   55, 1067,    6,  439,   95, 1101,    7,    4,  567, 1805,
           4,  199,  152,   17,   12], dtype=int32))

In [11]:
np.unique(y_train)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

# make model

In [12]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Embedding(input_dim=10000, output_dim=24, input_length=500)) # inputlayer
model.add(tf.keras.layers.Flatten()) # hidden layer
model.add(tf.keras.layers.Dense(46, activation='softmax')) # output layer

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['acc']) # gadget

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 500, 24)           240000
_________________________________________________________________
flatten (Flatten)            (None, 12000)             0
_________________________________________________________________
dense (Dense)                (None, 46)                552046
=================================================================
Total params: 792,046
Trainable params: 792,046
Non-trainable params: 0
_________________________________________________________________

In [14]:
hist = model.fit(pad_x_train, y_train, epochs=50, validation_split=0.3, batch_size=32)

Epoch 1/50
197/197 [==============================] - 3s 13ms/step - loss: 2.1221 - acc: 0.4552 - val_loss: 1.6946 - val_acc: 0.5692
Epoch 2/50
197/197 [==============================] - 3s 13ms/step - loss: 1.3409 - acc: 0.6669 - val_loss: 1.4234 - val_acc: 0.6553
Epoch 3/50
197/197 [==============================] - 2s 12ms/step - loss: 0.7465 - acc: 0.8389 - val_loss: 1.3125 - val_acc: 0.6924
Epoch 4/50
197/197 [==============================] - 2s 12ms/step - loss: 0.4223 - acc: 0.9162 - val_loss: 1.3118 - val_acc: 0.6983
Epoch 5/50
197/197 [==============================] - 2s 12ms/step - loss: 0.2750 - acc: 0.9502 - val_loss: 1.3131 - val_acc: 0.7065
Epoch 6/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1994 - acc: 0.9612 - val_loss: 1.3613 - val_acc: 0.6980
Epoch 7/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1664 - acc: 0.9652 - val_loss: 1.3854 - val_acc: 0.6983
Epoch 8/50
197/197 [==============================] - 3s 13ms/step - loss: 0.1503 - acc: 0.9653 - val_loss: 1.3875 - val_acc: 0.7017
Epoch 9/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1406 - acc: 0.9655 - val_loss: 1.4370 - val_acc: 0.6972
Epoch 10/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1276 - acc: 0.9676 - val_loss: 1.5276 - val_acc: 0.6865
Epoch 11/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1289 - acc: 0.9671 - val_loss: 1.4738 - val_acc: 0.6987
Epoch 12/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1222 - acc: 0.9671 - val_loss: 1.4422 - val_acc: 0.6998
Epoch 13/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1155 - acc: 0.9671 - val_loss: 1.4481 - val_acc: 0.7017
Epoch 14/50
197/197 [==============================] - 2s 11ms/step - loss: 0.1187 - acc: 0.9671 - val_loss: 1.4606 - val_acc: 0.6991
Epoch 15/50
197/197 [==============================] - 2s 11ms/step - loss: 0.1175 - acc: 0.9671 - val_loss: 1.4959 - val_acc: 0.6987
Epoch 16/50
197/197 [==============================] - 2s 11ms/step - loss: 0.1106 - acc: 0.9683 - val_loss: 1.4476 - val_acc: 0.7046
Epoch 17/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1077 - acc: 0.9679 - val_loss: 1.4725 - val_acc: 0.7050
Epoch 18/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1087 - acc: 0.9671 - val_loss: 1.5231 - val_acc: 0.7002
Epoch 19/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1074 - acc: 0.9679 - val_loss: 1.5480 - val_acc: 0.6961
Epoch 20/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1027 - acc: 0.9701 - val_loss: 1.4334 - val_acc: 0.7128
Epoch 21/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1135 - acc: 0.9674 - val_loss: 1.4784 - val_acc: 0.7058
Epoch 22/50
197/197 [==============================] - 2s 13ms/step - loss: 0.0986 - acc: 0.9676 - val_loss: 1.4777 - val_acc: 0.7035
Epoch 23/50
197/197 [==============================] - 2s 12ms/step - loss: 0.1030 - acc: 0.9677 - val_loss: 1.4291 - val_acc: 0.7117
Epoch 24/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0988 - acc: 0.9682 - val_loss: 1.4549 - val_acc: 0.7106
Epoch 25/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0984 - acc: 0.9683 - val_loss: 1.5688 - val_acc: 0.6987
Epoch 26/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0997 - acc: 0.9687 - val_loss: 1.4382 - val_acc: 0.7158
Epoch 27/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0980 - acc: 0.9669 - val_loss: 1.5295 - val_acc: 0.7028
Epoch 28/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0940 - acc: 0.9679 - val_loss: 1.5165 - val_acc: 0.7039
Epoch 29/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0912 - acc: 0.9679 - val_loss: 1.5460 - val_acc: 0.7039
Epoch 30/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0928 - acc: 0.9672 - val_loss: 1.4567 - val_acc: 0.7132
Epoch 31/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0941 - acc: 0.9672 - val_loss: 1.4406 - val_acc: 0.7124
Epoch 32/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0898 - acc: 0.9687 - val_loss: 1.5121 - val_acc: 0.7046
Epoch 33/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0900 - acc: 0.9676 - val_loss: 1.5332 - val_acc: 0.7076
Epoch 34/50
197/197 [==============================] - 2s 13ms/step - loss: 0.0918 - acc: 0.9683 - val_loss: 1.4986 - val_acc: 0.7106
Epoch 35/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0889 - acc: 0.9680 - val_loss: 1.5003 - val_acc: 0.7095
Epoch 36/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0892 - acc: 0.9680 - val_loss: 1.5093 - val_acc: 0.7076
Epoch 37/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0883 - acc: 0.9685 - val_loss: 1.5214 - val_acc: 0.7013
Epoch 38/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0920 - acc: 0.9668 - val_loss: 1.4591 - val_acc: 0.7113
Epoch 39/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0843 - acc: 0.9680 - val_loss: 1.4555 - val_acc: 0.7173
Epoch 40/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0827 - acc: 0.9687 - val_loss: 1.4393 - val_acc: 0.7180
Epoch 41/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0866 - acc: 0.9676 - val_loss: 1.4769 - val_acc: 0.7135
Epoch 42/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0853 - acc: 0.9683 - val_loss: 1.5059 - val_acc: 0.7106
Epoch 43/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0851 - acc: 0.9677 - val_loss: 1.4905 - val_acc: 0.7069
Epoch 44/50
197/197 [==============================] - 2s 11ms/step - loss: 0.0802 - acc: 0.9669 - val_loss: 1.6018 - val_acc: 0.7032
Epoch 45/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0767 - acc: 0.9695 - val_loss: 1.5698 - val_acc: 0.7046
Epoch 46/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0807 - acc: 0.9671 - val_loss: 1.5671 - val_acc: 0.7032
Epoch 47/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0765 - acc: 0.9699 - val_loss: 1.5974 - val_acc: 0.7002
Epoch 48/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0799 - acc: 0.9690 - val_loss: 1.5233 - val_acc: 0.7069
Epoch 49/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0791 - acc: 0.9676 - val_loss: 1.5685 - val_acc: 0.7024
Epoch 50/50
197/197 [==============================] - 2s 12ms/step - loss: 0.0756 - acc: 0.9695 - val_loss: 1.5752 - val_acc: 0.7035

# evaluation

In [15]:
model.evaluate(pad_x_train, y_train)

281/281 [==============================] - 1s 3ms/step - loss: 0.5078 - acc: 0.8955

[0.5077683925628662, 0.8954575657844543]

In [16]:
pad_x_test = tf.keras.preprocessing.sequence.pad_sequences(x_test, maxlen=500)
len(x_test[20]), len(pad_x_test[20])

(103, 500)

In [17]:
model.evaluate(pad_x_test)

71/71 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - acc: 0.0000e+00

[0.0, 0.0]